.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

body > * {
/*   -webkit-transition: all .25s ease;
-moz-transition: all .25s ease;
-ms-transition: all .25s ease;
-o-transition: all .25s ease;
transition: all .25s ease;
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0); */
}

body {
  text-align: center;
}

.drawers {
  background: #666;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
}

body > .drawers,
body > .container { display: inline-block; vertical-align: top;}

body > .drawers { width: 0%; overflow: hidden; }
body > .container { width: 100%;  }

body.mobile-menu-left-showing > .drawers {min-width: 200px; width: 50%;}
body.mobile-menu-left-showing > .container { position: absolute; left: 50%;}

.header-nav ul,
.action-btns-container,
.people { padding: 0; list-style: none; text-align: justify; font-size: 0; }
.people { margin: 40px auto 20px auto; text-align: center; }
.people li { position: relative; padding-left: 75%; margin: auto; padding-top: 75%; background: gray; display: none; }
.people li.showing { display: inline-block; }
.people .polaroid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: white;
  border: 1px solid #CCC;
}

.people .polaroid img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.header {
  color: #EF5B35;
}

.header-nav .logo {
  max-height: 65px;
}

.drawers ul {
  padding: 0;
  list-style: none;
}

.drawers ul li {
  margin: 10px auto;
  padding: 0 0 0 20px;
  text-align: left;
}
.drawer-left-nav-list { width: 500px; }
.drawers ul li a { width: 100%; height: 100%; display: block;}
.drawers ul li a div { border: 5px solid white; border-radius: 50%; text-align: center; display: block; width: 100%; height: 100%; color: #ccc; width: 50px; height: 50px; overflow: hidden; margin-right: 10px;}
.drawers ul li a div i { color: white; font-size: 20px; position: relative; top: 8px; }
.drawers ul li a div img { width: 100%; height: 100%; display: block;}

.drawers ul li a div,
.drawers ul li label { display: inline-block; vertical-align: middle; color: white; font-size: 18px;}

.header-nav ul li,
.action-btns-container li { display: inline-block; vertical-align: middle; width: 33%; text-align: center; font-size: 40px; }
.action-btns-container button { border-radius: 50%; border:none; height:100px; width:100px; font-size:50px;}
.header-nav ul li:first-child { text-align: left; }
.header-nav ul li:last-child  { text-align: right; }

.action-btns-container li:first-child { text-align: right; width:43%}
.action-btns-container li:nth-child(2) button { width: 50px; height: 50px; font-size: 25px; }
.action-btns-container li:last-child  { text-align: left; width:43%}
.action-btns-container li:nth-child(2) { width: 14% }

.action-btns-container li button {
  display: inline-block;
  text-decoration: none;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  position: relative;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}

.action-btns-container li button:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.action-btns-container li button:active {
  box-shadow: inset 0px 3px 4px #aaa, 0px 2px 3px #fff;
}

/* .action-btns-container li button:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}​ */
